//tamanhos

//texto
$titulos: 70px;
$subtitulos: 20px;
$legendas: 20px;
$subTitb: 25px;

// paddings
$padTop: 20px;
$padBot: 20px;
$padTittle: 150px;
$padBotSeta: 50px;

//paddigns seccao
$padTopSec: 250px;
$padBotSec: 50px;

//border
$radious: 10px;